.contact-form-container {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  width: 340px;
  height: 440px;
  background: rgb(220, 227, 245);
  color: #5a5a6e;
  border-radius: 10px;
  box-shadow: 0 0 40px -15px #000;
  margin: calc(50vh - 220px) auto;
  padding: 20px 30px;
  max-width: calc(100vw - 40px);
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  position: relative;
}

.contact-details {
  padding-top: 30px;
}

.contact-form-container ul {
  padding-top: 40px;
  font-size: 20px;
}

.contact-form-container span {
  padding: 15px;
}

@media (max-width: 350px) {
  .contact-form-container span {
    padding: 10px;
  }
}
